@font-face {
    font-family: 'Zabras';
    src: url('fonts/Zabars.ttf');
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(./img/5_background/elPolloLocoBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Zabras', Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

canvas{
    background-color: black;
    display: block;
    position: relative;
}

.canvas-container {
    position: relative;
    display: inline-block; /* You can also use block if you want the container to take full width */
}

#controls{
    position: absolute;
    bottom: 0px;
    padding: 16px;
    padding-bottom: 4px;
    width: calc(100% - 32px);
    max-width: 720px;
    display: none;
    justify-content: space-between;
}

#move, #actions{
    display: flex;
    gap: 16px;
}

.arrow{
    background-color: #ff9600;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 720px){
    canvas{
        width: 100%;
    }

    #controls{
        display: flex;
    }
}

@media only screen and (max-height: 480px){
    canvas{
        height: 100vh;
        width: 100vw;
    }
    h1{
        display: none;
    }
    #controls{
        display: flex;
    }
}

.d-none{
    display: none;
}

#startScreen, #endScreen{
    background-image: url(./img/9_intro_outro_screens/start/startscreen_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
}

#endScreen{
    background-image: url(./img/5_background/first_half_background.png);
}

#endScreen img{
    width: 100%;
    height: 100vh;
}

#startScreen button, #endScreen button{
    position: absolute;
    bottom: 50%;
    left: 50%;
    background-color: #ff9600;
    color: white;
    border:none;
    width: 350px;
    height: 100px;
    transform: translateX(-50%);
    cursor: pointer;
    border-radius: 8px;
    font-size: 35px;
    box-shadow: 5px 5px 5px black;
}
